 

body {
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  font-size: 40px;
  
}

.container {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: blueviolet;
  
}

#board {
  width: 450px;
  display: grid;
  margin-top: 20;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  
}

.box {
  width: 150px;
  height: 150px;
  
  border: 2px solid black;
  cursor: pointer;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(225, 221, 231, 0.536);
 } 

#winningMessage {
  font-size: 50px;
  padding: 10 20;
}

button {
  padding: auto;
  border: 4px;
  margin-bottom: 20px;
  height: 50px;
  width: 70px;
}